footer {
  // height: 6rem;
  .links {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    justify-content: space-evenly;
    border-top: 1px solid $lightBlue;
    padding-top: 0.5rem;
    padding-bottom: 3.5rem;
    transition: all 0.2s ease-in;

    @media screen and (min-width: 840px) {
      flex-direction: row;
    }
    a {
      &:hover {
        color: $darkPurple;
      }
    }
  }
  .social-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;

    i {
      cursor: pointer;
      color: $lightBlue;
      font-size: 1.2rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $blue;
      }
    }
  }
}
