$duration: 0.2s;
$distance: 15px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.site-header {
  .header-container {
    background-color: $lightPink;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .logo {
      h1 {
        margin: 0;
        color: $darkGreen;
      }
    }
  }

  .site-header__menu-trigger {
    cursor: pointer;
    color: $darkGreen;
    font-size: 1.2rem;
    z-index: 101;
    position: relative;

    &.fa-times {
      &::after {
        content: "";
        z-index: -1;
        background-color: $pink;
        position: absolute;
        width: 400%;
        height: calc(100vh + 100px);
        top: -100px;
        left: -100%;
      }
    }

    @media (min-width: 960px) {
      display: none;
    }
    @media (min-width: 530px) {
      top: 5px;
      font-size: 1.4rem;
    }
  }
  .site-header__menu {
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    opacity: 0;
    transform: translateY(-20%);
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out,
      transform 0.3s ease-out;
    @media (min-width: 960px) {
      visibility: visible;
      opacity: 1;
      transform: translateY(0) scale(1);
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
      top: 0;
    }
  }
  .site-header__menu--active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    background: $lightPink;
    height: calc(100vh + 100px);
    z-index: 100;
  }
  ul {
    padding-top: 1.7rem;
    padding-left: 1.5rem;
    li {
      color: $darkGreen;
      transition: all 0.2s ease-in;
      text-transform: uppercase;
      list-style: none;
      font-size: 15px;
      font-weight: 700;
      margin: 10px 0;

      @media (min-width: 960px) {
        display: inline;
        margin: 0 10px;
        font-size: 13px;
      }
    }
    @media (min-width: 960px) {
      padding: 0;
    }
  }
  a:not(.logolink) {
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $green;
    }
    &:before {
      opacity: 0;
      transform: translateY(-$distance);
      transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
      opacity: 0;
      transform: translateY(7.5px);
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
      &:before,
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
      &:before {
        transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:after {
        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
      }
    }
  }
}
