.testimonials {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 840px) {
    display: block;
    column-count: 2;
    column-gap: 0.5em;
  }

  .testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 840px) {
      //   width: 45%;
      display: inline-block;
      margin: 0 0 1em;
      width: 100%;
    }
    .testimonial-card:nth-child(3n + 1) {
      order: 1;
    }
    .testimonial-card:nth-child(3n + 2) {
      order: 2;
    }

    .bubble-image,
    .bubble {
      max-width: 500px;
      background: white;
      margin: 0 auto;
      border-radius: 20px;
      text-align: center;

      .bubble {
        padding-top: 1rem;
      }

      .bubble-image {
        box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 10%);
      }
      .elena {
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }

      li {
        padding: 0.5rem 2rem 1rem 2rem;
        .text {
          position: relative;
          ::before {
            content: "“";
            position: absolute;
            top: -0.25em;
            left: -0.5em;
            color: $purple;
            font-size: 3em;
            font-weight: 600;
            line-height: 1;
          }
        }
      }
    }

    .bubble {
      background: #f3f4f4f1;
    }

    .pointer-img,
    .pointer {
      height: 40px;
      width: 40px;
      background: white;
      margin: 0 auto;
      transform: rotate(45deg);
      border-radius: 0 0 12px 0;
      margin-top: -22px;
      position: relative;
      left: calc(0.5vw - 50px);
    }
    .pointer {
      background: #f3f4f4f1;
    }
    .info {
      color: $darkPurple;
      text-align: center;
      p {
        margin: 0.5rem;
      }
      .name {
        font-weight: 700;
        margin-bottom: 0;
      }
      .prof {
        margin-top: 0.3rem;
      }
    }
  }
}
